@font-face{
    font-family:'Digital-7';
    font-style: normal;
    font-weight: 400;
    src:url('../media/fonts/digital-7.mono.ttf')
}
#time{
    font-family: "Digital-7";
    font-size:150px;
    text-align: center;
    margin:0;
    background-color:black;
    color:white;
    width:100%
}
#main_time{
    display:flex;
    justify-content:center;
    align-items:center;
}